
.FotoCapa1{
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-top: 0px;
    margin-left: 20px;
}
.FotoMeme1{
    height: 400px;
    border: 20px;
}
.MenuFeed{
    background: black;
    color: aliceblue;
    justify-content: center;
}