.allbrowsers {
    margin: 0;
    background-color: lightgray;
    height: 660px;
    width: 700px;
    font-family: arial;
    margin-left: 110px;
  }
  
  .voltar{
  background-color: black;
  color: white;
  padding: 5px;
  }
  
  .allbrowsers > h1, .browser {
    padding: 5px;
    
  }
  
  .browser {
    background: black;
    height: 960px
  }
  
  .imagem{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
  }
  
  .aa{
    position: absolute;
    margin-top:15px;
    margin-left: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }
  
  
  
  .aa:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .aa:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  
  .user{
    position: absolute;
    margin-top: -10px;
    color: #696e72;
    font-size: 12px;
    margin-left: 52px; 
    cursor: pointer;
    display:none;
  }
  
  .browser p{
    margin-left: 50px;
    color: white;
  }
  
  .post{
       margin-top: 30px;
      margin-left: -50px;
  }
  
  .post p{
      font-size: 20px;
  }
  
  .imagemPost{
      height: 650px;
      width: 700px;
      padding: 0;
      margin-left: -5px;
  }