.botaoVoltar{
    background-color:rgb(0, 0, 0);
    color: white;
}
.MenuFeed{
    background: black;
    color: aliceblue;  
    
}
.FtoUsuario{
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
    margin-left: -90px;
    margin-top: 10px;
}
.arroba{
    color: gray;
}
.DescricaodoUser{
    text-align: left;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.NmdouserEarroba{
    margin-top: 55px;
}
.Imgpostada{
    height: 200px;
    border-radius: 10px;
}

.Postagem{
    background-color: black;
    margin-top: 20px;
    /* margin-left: -100px; */
    justify-content: center;
    border-radius: 10px;

}