@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

.container {
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}

.containerlogin {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  padding: 15px;
  background-image: linear-gradient(to top, #b721ff 0%, #299cb6);
}

.wraplogin {
  height: 590px;
  width:690px;
  background-color: rgba(51, 51, 51, 0.671);
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.loginform {
  width: 100%;
}

.loginformtitle {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
}

.loginformtitle img {
  width: 90px;
}

.wrapinput {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focusinput {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: Nunito, sans-serif;
}

.focusinput::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #0425fc;
  color: -webkit-linear-gradient(to left, #b721ff, #21d4fd);
  background: -webkit-linear-gradient(to left, #b721ff, #21d4fd);
  background: -o-linear-gradient(to left, #b721ff, #21d4fd);
  background: -moz-linear-gradient(to left, #b721ff, #21d4fd);
  background: linear-gradient(to left, #b721ff, #21d4fd);
}

.focusinput::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focusinput::after {
  top: -15px;
}

.input:focus+.focusinput::before {
  width: 100%;
}

.has-val+.focusinput::after {
  top: -15px;
}

.has-val+.focusinput::before {
  width: 100%;
}

.containerloginformbtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}
.loginformbtn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #000000;
  transition: ease-in-out 0.5s;
  background-image: linear-gradient(to left, #b721ff, #21d4fd, #21d4fd, #b721ff );
  background-size:300%;
    background-position: 0 0;
    -webkit-appearance: none;
}

.loginformbtn:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-position: 100% 0;
}

.textcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #adadad;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #6a7dfe;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}



.imagem{
  display: flex;
  font-family: Nunito, sans-serif;
  font-size: 21px;
  font-weight: bold;
  flex-direction: column;
  justify-content: left;
  width: 35vw;
  left: 10px;
  top: 220px;
  position: absolute;
  color: #fff;
}

.fdss{
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0px);
  }
}