.a{
    text-decoration: none;
}
.nav ul{
    list-style: none;
}

.header{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
}

.logo{
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
    cursor: pointer;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    overflow: hidden;
}



/* barra de pesquisa*/

.div{
   margin-top: -25px;
}

#txtBusca{
    float:left;
    background-color:#fff;
    border-radius: 5px;
    margin-top: -28px;
    margin-left: 350px;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:460px;
}

#btnBusca{
    margin-left: 790px;
    top: -25px;
    position: relative;
}

/* barra de pesquisa*/

.menu a{
    display: block;
    padding: 30px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}

.menu b{
    display: block;
    padding: 30px;
    color: white;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hambline {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} 

.hambline::before,
.hambline::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hambline::before{
    top: 5px;
}
.hambline::after{
    top: -5px;
}

.sidemenu {
    display: none;
}

.sidemenu:checked ~ nav{
    max-height: 100%;
}
.sidemenu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.sidemenu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.sidemenu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: -10px;
        position: relative;
        float: right;
        width: fit-content;
        margin-top: -85px;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;

    }

    .hamb{
        display: none;
    }
}