.a{
    text-decoration: none;
}
.nav ul{
    list-style: none;
}

.header{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
}
.ImgMg{
    height: 69px;
}
.logo{
    display: inline-block;
    color: white;
    font-size: 60px;
    margin-left: 10px;
    cursor: pointer;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    overflow: hidden;
}



/* barra de pesquisa*/

.div{
  color: #ffffff;
  margin-top: -90px;
  margin-left: 800px;
}

#txtBusca{
    float:left;
    background-color:#fff;
    border-radius: 5px;
    margin-top: -28px;
    margin-left: 650px;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:460px;
}

#btnBusca{
    margin-left: -28px;
    top: -25px;
    position: relative;
}

/* barra de pesquisa*/



@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: -10px;
        position: relative;
        float: right;
        width: fit-content;
        margin-top: -85px;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: gray;

    }

    .hamb{
        display: none;
    }
}