.modal{
    position: fixed; 
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    margin: auto;
    z-index: 100;
    width: 400px;
    height: 200px;
    background: #FFF;
    text-align: center;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
    
    animation: modal .5s;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0px, -60px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 60, 60);
    }
}

.modal div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal input{
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 20px;
    transition: ease-in-out 0.2s;
}

.modal input:hover{
    border: 1px solid #22b2f5;
    box-shadow: 2px 2px 2px #22b2f5;
    transform: scale(1.03);
}

.modal button{
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* Modal */

/* Botões */
.salvar{
    background: #8BC34A;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}

.salvar:hover{
    background: #59ac00; 
    box-shadow: 1px 2px 2px #88ff00;
    color: #fff;
    transform: scale(1.05);
}

.cancela{
    background: #D32F2F;
    transition: ease-in-out 0.3s;
}

.cancela:hover{
    background: #ff0000; 
    box-shadow: 3px 3px 3px  #b61313;
    color: #fff;
    transform: scale(1.05);
}
/* Botões */

/* Fundo */
.fundo{
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
}
/* Fundo */

/* Form Email */

#m{
    cursor: pointer;
}