.MenuUsuario{
    width: 600px;
    height: 450px;
    background-color:transparent;
    border: 2px  solid #000000;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    margin-left: 410px;
}


.perfil{
    display: grid;
    margin-left: 10px;
}

.NomeUsuario{
    color: rgb(0, 0, 0);
    margin-top: -10px;
    font-size: 20px;
}
.NomeUser{
    color: rgb(0, 0, 0);
    margin-top: -15px;
    font-size: 15px;
}

.DescricaoUsuario{
    color: rgb(0, 0, 0);
}
.FotoUser{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px ; 
}
.ButtonBaixo{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    min-width: 100%;
    cursor: pointer;
    align-items: center;
    height: 2.9em;
    padding: 0 0.3em;

}
.ButtonBaixo1:hover{
    color: #ffffff;
    border-radius: 1.5em;
    background: #2084d8;
}
.Menu{
    display:flex ;
    justify-content: center;
}
.FundoMenu{
    background: black;
}
.voltar{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.icon:hover{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background: #696e72;
}

button.more {
    display: block;
    background: transparent;
    color: #000000;
    width: 14em;
    height: 3em;
    font-size: 1em;
    margin-top: -0.39em;
    margin-left: -0.79em;
    cursor: pointer;
}
.more {
    padding: 0 0.7em;
    cursor: pointer;
    border: unset;
}

.more:hover {
    background: #1da1f2;

}


//* POSTAGEM *// 
button.more2 {
    display: block;
    background: transparent;
    color: #000000;
    width: 15em;
    min-width: 14.75em;
    max-width: 14em;
    height: 3em;
    font-size: 1em;
    margin-top: -0.39em;
    margin-left: 0.01em;
    cursor: pointer;
}
.more2 {
    padding: 0 0.7em;
    cursor: pointer;
    border: unset;
}

.more2:hover {
    background: #1da1f2;

}
//* POSTAGEM *// 

.button{
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin: 5px;
}
.butao{
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    color: white;
}

.invisivel{
    background: transparent;
    border: 2px solid #000000;
    margin-top: -5px;
    margin-left: -2px;
    padding: 0 0.3em;
    max-width: 600px;
    min-width: 600px;
    height: 250px;
    animation: fadein 0.4s ease-in-out;
}

@keyframes fadein {
    from { 
        opacity: 0;
        transform: translate3d(0px, -60px, 0px);
    }
    to   { 
        opacity: 1;
        transform: translate3d(0, 60, 60);
    }
}

.editar{
    background: unset;
    border: unset;
}

.editar{
    
      background: #1da1f2;
      color: #fff;
      width: 14em;
      height: 3em;
      cursor: pointer;
      border-radius: 1.5em;
      font-size: 1em;
      margin-top: 3em;
      margin-left: 14.5em;
}

.editar:hover {
      background: #2aaaff;
}

.ComentaNome{
    margin-top: -50px;
    margin-left: 65px;
    font-size: 14px;
}

.ComentaUser{
    margin-top: -31px;
    margin-left: 105px;
    font-size: 12px;
    color: #7b7c7c;
}

.Comenta{
    margin-top: 29px;
    margin-left: 65px;
    color: #000000;
    
}



.invisivel img{
    width: 50px;
    height: 50px;
    margin-top: 3px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}