.MenuUsuario{
    width: 600px;
    height: 600px;
    background-color:transparent;
    border: 2px solid #000000;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    margin-left: 410px;
}
.FotoCapa{
    color: #fff;
    width: 100%;
      
}

.perfil{
    display: grid;
    margin-left: 10px;
}

.NomeUsuario{
    color: aliceblue;
}
.DescricaoUsuario{
    color: rgb(255, 255, 255);
}
.FotoUser{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-top: 150px;
    margin-left:-560px ; 
}
.ButtonBaixo{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    min-width: 100%;
    cursor: pointer;
}
.ButtonBaixo1:hover{
    background: #7b7c7c;
    border: #696e72;
}
.Menu{
    display:flex ;
    justify-content: center;
}
.FundoMenu{
    background: black;
}
.voltar{
    background-color: transparent;
    color: white;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.icon{
    color: white;
    cursor: pointer;
}

.icon:hover{
    color: #fff;
    border-radius: 5px;
    background: #696e72;
}
  


.button{
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin: 5px;
}
.butao{
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    color: white;
}

.invisivel{
    background: transparent;
    border: 2px solid #9b26d1;
    margin-top: 20px;
    padding: 0 0.3em;
}


.ComentaNome{
    margin-top: -50px;
    margin-left: 65px;
    font-size: 14px;
}

.ComentaUser{
    margin-top: -31px;
    margin-left: 105px;
    font-size: 12px;
    color: #7b7c7c;
}

.Comenta{
    margin-top: 20px;
    margin-left: 65px;
    color: #000000;
}

.invisivel img{
    width: 50px;
    height: 50px;
    margin-top: 3px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}