.MenuUsuario{
    width: 600px;
    height: 600px;
    background-color: #22092e;
    border: 2px solid #2e3235;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    margin-left: 310px;
}
.FotoCapa{
    color: #fff;
    width: 100%;
      
}

.perfil{
    display: grid;
    margin-left: 10px;
}

.NomeUsuario{
    color: aliceblue;
}
.DescricaoUsuario{
    color: brown;
}
.FotoUser{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-top: 150px;
    margin-left:-560px ; 
}
.ButtonBaixo{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    min-width: 100%;
    cursor: pointer;
}
.ButtonBaixo1:hover{
    background: #7b7c7c;
    border: #696e72;
}
.Menu{
    display:flex ;
    justify-content: center;
}
.FundoMenu{
    background: black;
}
.voltar{
    background-color: #22092e;
    color: white;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

.icon{
    color: white;
    cursor: pointer;
}

.icon:hover{
    color: #fff;
    border-radius: 5px;
    
    background: #696e72;
}
  


.button{
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin: 5px;
}
.butao{
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    color: white;
}
